@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "variable";
@import "toastr/toastr";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

header {
    border-bottom: 1px solid $border-color;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 20px;
    .title {
        font-size: 14px;
    }
}

.flex-container {
    flex-grow: 1;
    display: flex;
    background-color: #cccccc;
    #main-nav {
        width: 300px;
        border-right: 1px solid $border-color;
        background-color: white;
    }
    main{
        flex-grow: 1;
        margin: 10px;
        background-color: white;
        padding: 10px;
    }
}
footer {
    height: 50px;
    border-top:  1px solid $border-color;
}
